@media (min-width: 768px) {
  #hamburger {
    display: none;
  }

  #nav-menu {
    display: flex !important;
  }

  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {

  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}